body{
    font-family: 'Lemon', cursive;
font-family: 'PT Sans', sans-serif;
}
section{
    display: flex;
    margin-bottom: 10px;
}
span{
     color: rgb(217, 66, 255);
}
.welcome{
    font-size:50px;
    font-weight:750px ;
    border-left: 5px solid tomato;
    padding-left:2%;
}
.one{
    width: 40%;
    margin-left: 50px;
    padding-top: 5%;
    text-align: justify;
}
.one img{
    width: 50%;
    padding-top: 5%;
    padding-left: 40%;
}
.button{
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    width: 15%;
}
.button1{
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    width:25%;
}
.two{
    font-size: 50px;
    font-weight: 1000px;
    text-align: center;
}
.three{
  color: rgb(255, 163, 25);
}
.four1{
    width: 32%;
    background-color: rgb(129, 226, 255);
    border-radius: 30px;
    padding-left:1%;
    margin-left: 50px;

    
}
.four2{
    width: 32%;
    background-color: cornflowerblue;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
}
.four3{
    width: 32%;
    background-color: #ffbb93;
    border-radius: 30px;
    padding-left: 1%;
    margin-right: 50px;
    
}
.four1 img{
    height: 40%;
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
}
.four2 img{
    height: 40%;
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
}
.four3 img{
    height: 40%;
    width: 40%;
    padding: 1%;

}
.five img{
    width: 40%;
    margin-top: 50px;
    margin-left: 450px;
}
.five1{
    width: 60%;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 400px;
}