body{
    font-family: 'Lemon', cursive;
font-family: 'PT Sans', sans-serif;
}
section{
    display: flex;
}
span{
     color: rgb(217, 66, 255);
}
h1{
    font-size:50px;
    font-weight:750px ;
    border-left: 5px solid tomato;
    padding-left:2%;
}
.one{
    width: 40%;
    margin-left: 50px;
    padding-top: 5%;
    text-align: justify;
}
.one img{
    width: 50%;
    padding-top: 5%;
    padding-left: 40%;
}
.button{
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    width: 15%;
}
.two{
    font-size: 50px;
    font-weight: 1000px;
    text-align: center;
}
.three{
  color: rgb(255, 163, 25);
}
.four1{
    width: 30%;
    background-color: rgb(129, 226, 255);
    border: 5px solid rgb(129, 226, 255);
    border-radius: 30px

    
}
.four2{
    width: 20%;
    background-color: cornflowerblue;
    border: 5px solid cornflowerblue;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
}
.four3{
    width: 30%;
    background-color: #ffbb93;
    border: 5px solid #ffbb93;
    border-radius: 30px;
}
.four1 img{
    height: 40%;
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
}
.four2 img{
    height: 40%;
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
}
.four3 img{
    height: 40%;
    width: 40%;
    padding: 1%;
}
.five img{
    width: 50%;
    padding-top: 10%;
    padding-left: 40%;
}
.five{
    width: 50%;
    font-size: 40px
    text-aline: center;
    

}
